
<head>
    <title>Form</title>
    <link rel="stylesheet" href="~/resources/Form.css" />
</head>

<header>
    <h1>Formulaire TP HN Avis</h1>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
</header>

<body>
    <nav>
        <ul>
            <li> <a href="/Home/Index/Form"> Remplir le formulaire </a></li>
            <li> <a href="/Home/Index/Form"> Liste des avis </a></li>
        </ul>
    </nav>

    <form>
        <p id="titre_form">Informations personnelles</p><br />
        <label for="nom"> Nom </label>
        <input type="text" id="nom" name="nom" /><br/>
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom" /><br />
        <label for="sexe"> Sexe </label>
        <select id="sexe" name="sexe">
            <option value = "masculin">Masculin</option>
            <option value = "feminin">Féminin</option>
        </select><br/>
        <label for="adresse"> Adresse</label>
        <input type="text" id="adresse" name="adresse" /><br>
        <label for ="code_postal">Code Postal</label>
        <input type="text" id="code_postal" name="code_postal" /><br />
        <label for="ville">Ville</label>
        <input type="text" id="ville" name="ville"/>
        <label for="adresse_mail">Adresse mail</label><br />
        <input type="email" id="adresse_mail" name="adresse_mail" /><br />
        
        <p id ="titre_form">Information formation suivie</p> <br />
        <label for="date"> Date début de formation</label>
        <input type="date" id="date" name="date" /> <br />
        <label for="formation_suivie">Formation suivie</label>
        <select id="formation_suivie" name="formation_suivie">
            <option value ="cobol">Cobol</option>
            <option value = "csharp">C#</option>
        </select><br />
        
        <p id="titre_form">Avis sur la formation</p><br />
        <label for="formation_cobol"> Formation Cobol</label>
        <input type="text" id="formation_cobol" name="formation_cobol" /><br />
        <label for="formation_cs">Formation C#</label>
        <input type="text" id="formation_cs" name="formation_cs" /><br />
        <input type="submit" id="submit" value="Valider" />
    </form>


</body>

