
<head>
    <title>Form</title>
    <link rel="stylesheet" href="~/resources/Form.css" />
</head>

<header>
    <h1>Formulaire TP HN Avis</h1>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
</header>

<body>
    <nav>
        <ul>
            <li> <a href="/Home/Index/Form"> Remplir le formulaire </a></li>
            <li> <a href="/Home/Index/Form"> Liste des avis </a></li>
        </ul>
    </nav>

    <div class="form"> 
        <table id="info_perso">
            <caption>Informations personnelles</caption>
            <tr>
                <td>
                    <label for="nom"> Nom </label>
                </td>
                <td>
                    <input type="text" id="nom" name="nom" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="prenom">Prénom</label>
                </td>
                <td>
                    <input type="text" id="prenom" name="prenom" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sexe"> Sexe </label>
                </td>
                <td>
                    <select id="sexe" name="sexe">
                        <option value ="selectionnez" selected="selected">Sélectionner un sexe</option>
                        <option value="masculin">Masculin</option>
                        <option value="feminin">Féminin</option>
                        <option value="autre">Autre</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="adresse"> Adresse</label>
                </td>
                <td>
                    <input type="text" id="adresse" name="adresse" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="code_postal">Code Postal</label>
                </td>
                <td>
                    <input type="text" id="code_postal" name="code_postal" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ville">Ville</label>
                </td>
                <td>
                    <input type="text" id="ville" name="ville" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="adresse_mail">Adresse mail</label>
                </td>
                <td>
                    <input type="email" id="adresse_mail" name="adresse_mail" />
                </td>
            </tr>
        </table>

        <table id="info_formation">
            <caption>Information formation suivie</caption>
            <tr>
                <td>
                    <label for="date"> Date début de formation</label>
                </td>
                <td>
                    <input type="date" id="date" name="date" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="formation_suivie">Formation suivie</label>
                </td>
                <td>
                    <select id="formation_suivie" name="formation_suivie"> 
                        <option value ="select_formation" selected="selected">Sélectionner un cours</option>
                        <option value ="cobol">Formation Cobol</option> 
                        <option value = "csharp">Formation C#</option> 
                        <option value ="double">Formation à double compétence </option>
                    </select><br /> 
                </td>
            </tr>
        </table>

        <table id="avis">
            <caption>Avis sur la formation</caption>
            <tr>
                <td>
                    <label for="formation_cobol"> Formation Cobol</label>
                </td>
                <td>
                <input type="text" id="formation_cobol" name="formation_cobol" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="formation_cs">Formation C#</label>
                </td>
                <td>
                    <input type="text" id="formation_cs" name="formation_cs" />
                </td>
            </tr>
        </table>
        <input type="submit" id="submit" value="Valider" />
    </div>

</body>

