@model List<TPLOCAL1.Models.OpinionModel>
@{
    ViewData["h1"] = "Liste des avis";
    Layout = "_Layout";
}
<head>
    <title>Liste des avis</title>
    <link rel="stylesheet" href="~/resources/ListeAvis.css" />
</head>

@* <header>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
    <h1>Liste des avis</h1>
</header> *@

<body>
    @* <nav>
        <ul>
            <li> <a href="/Home/Index"> Accueil </a></li>
            <li> <a href="/Home/Index/Form"> Formulaire </a></li>
        </ul>
    </nav> *@

    
        <div class="table">
            <table>
                <caption>Liste des avis</caption>
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Avis donné</td>
                    </tr>
                <tbody>
                    @foreach (var opinion in Model)
                    {
                        
                    <tr>
                        <td>@opinion.LastName</td>
                        <td>@opinion.FirstName</td>
                        <td>
                        @if (opinion.OpinionGiven == "O")
                        {
                            <p class="oui">Oui</p>
                        }
                        else
                        {
                            <p class="non">Non</p>
                        }
                            </td>
                    </tr>
                    
				}
                </tbody>
                   
            </table>
        </div>
 
    }
</body>

